.login
    margin-top: 6rem
    display: flex
    justify-content: center
    align-items: center
    height: 80vh

    img

        width: 100%
    .form-box
        width: 80%
        h5
            font-size: 30px
            margin-bottom: 1rem
        .btn-login
            background: #fdc91e
            width: 100%
            border: 0
        .link
            a
                color: #4a9eba
                text-decoration: none
        .btn-reset
            color: #ffffff
            background-color: #5d78ff
            border-color: #5d78ff
            border-radius: 0
        .cancel
            color: #212529
            background-color: #f8f9fa
            border-color: #f8f9fa
    .people
        justify-content: space-around
        margin-bottom: 2rem
        img
            width: 30px
            margin-right: 1rem
.Register
    img
        width: 85%
        float: right
.calender-div
    .breadcrumb
        background: none
        padding-left: 0

.appointment
    h5
        font-size: 18px
    ul
        padding-left: 1rem
        li
            list-style: none
            label
                margin-left: .5rem
.input-fild
    width: 87%
    border: 1px solid #ccc
    padding: .4rem
    margin-top: 1rem
.borderr
    border-right: 1px solid blue
.message-div
    position: relative
    height: 100vh
    border-right: 1px solid #ccc
    .h-list-header
        background: #fff
    .h-list
        h4
            color: #fff
            color: #000
            text-align: left!important
    .fas.fa-ellipsis-v
        color: #000
    .chatactionBottom
        position: absolute
        width: 100%
        bottom: 0
        .w-100
            width: 100%!important
.meassge-img
    flex-direction: column
    align-items: center
    img
        width: 360px
    h5
        font-size: 28px
        font-weight: bold

.card_invoice
    box-shadow: 1px 0.196px 11px rgba(130, 131, 131, 0.24)
    border-radius: 0 4px 4px 4px
    border: 1px solid #e8e7e7
    background: #ffffff
    margin-top: 2rem
    .table-wrapper
        .product-card
            display: flex
            align-items: center
            .product-name
                display: block
                font-size: 1em
                font-weight: 500
                line-height: 1.5rem
                transition: color .3s ease
                color: #595d6e
        .badge.badge-dot
            display: inline-block
            line-height: 6px
            min-height: 6px
            min-width: 6px
            height: 6px
            width: 6px
            font-size: 0
            vertical-align: middle
            text-align: center
        .font-primary
            color: #5867dd !important
.btn-invoice
    font-size: 13px
    border-radius: 0
    background: #5d78ff
.table-customer
    overflow-x: scroll
    width: 100%!important
    .table-wrapper
        width: 100%
        table
            th
                font-weight: bold
                color: #777777
                border-bottom: 2px solid #485cd2
