.login
    margin-top: 6rem
    display: flex
    justify-content: center
    align-items: center
    height: 80vh

    img

        width: 100%
    .form-box
        width: 80%
        h5
            font-size: 30px
            margin-bottom: 1rem
        .btn-login
            background: #fdc91e
            width: 100%
            border: 0
        .link
            a
                color: #4a9eba
                text-decoration: none
        .btn-reset
            color: #ffffff
            background-color: #5d78ff
            border-color: #5d78ff
            border-radius: 0
        .cancel
            color: #212529
            background-color: #f8f9fa
            border-color: #f8f9fa
    .people
        justify-content: space-around
        margin-bottom: 2rem
        img
            width: 30px
            margin-right: 1rem
    .verify-div
        border: 1px solid #ccc
        padding: .8rem
        p
            margin-bottom: 0
            font-size: 11px
    .check-div
        text-align: center
        padding: 4rem
        .far
            color: #8cdf8c
            font-size: 57px
            margin-bottom: 1rem
.Register
    img
        width: 85%
        float: right
.calender-div
    .breadcrumb
        background: none
        padding-left: 0

.appointment
    h5
        font-size: 18px
    ul
        padding-left: 1rem
        li
            list-style: none
            label
                margin-left: .5rem
.input-fild
    width: 87%
    border: 1px solid #ccc
    padding: .4rem
    margin-top: 1rem
.borderr
    border-right: 1px solid blue
.message-div
    position: relative
    height: 100vh
    border-right: 1px solid #ccc
    .h-list-header
        background: #fff
    .h-list
        h4
            color: #fff
            color: #000
            text-align: left!important
    .fas.fa-ellipsis-v
        color: #000
    .chatactionBottom
        position: absolute
        width: 100%
        bottom: 0
        .w-100
            width: 100%!important
.meassge-img
    flex-direction: column
    align-items: center
    img
        width: 360px
    h5
        font-size: 28px
        font-weight: bold

.card_invoice
    box-shadow: 1px 0.196px 11px rgba(130, 131, 131, 0.24)
    border-radius: 0 4px 4px 4px
    border: 1px solid #e8e7e7
    background: #ffffff
    margin-top: 2rem
    .table-wrapper
        .product-card
            display: flex
            align-items: center
            .product-name
                display: block
                font-size: 1em
                font-weight: 500
                line-height: 1.5rem
                transition: color .3s ease
                color: #595d6e
        .badge.badge-dot
            display: inline-block
            line-height: 6px
            min-height: 6px
            min-width: 6px
            height: 6px
            width: 6px
            font-size: 0
            vertical-align: middle
            text-align: center
        .font-primary
            color: #5867dd !important
.btn-invoice
    font-size: 13px
    border-radius: 0
    background: #5d78ff
.table-customer
    overflow-x: scroll
    width: 100%!important
    .table-wrapper
        width: 100%
        table
            th
                font-weight: bold
                color: #777777
                border-bottom: 2px solid #485cd2
.account
    margin-top: 6rem
    .box_center
        display: flex
        justify-content: center
        width: 80%
    .position-relative
        .steps-form li
            display: inline-block
            margin: 0 15px 20px 0
            height: 40px
            position: relative

        .steps-form li:first-child
            z-index: 5

        .steps-form li:nth-child(2)
            z-index: 4

        .steps-form li:nth-child(3)
            z-index: 3

        .steps-form li:nth-child(4)
            z-index: 2

        .steps-form li + li
            margin-left: -10px

        .steps-form li a
            display: block
            position: relative
            background: $gray-light-5
            padding: 10px 32px
            color: $white
            font-size: 14px

            & strong
                font-weight: 400

            & span
                padding: 0 0 0 10px

            &:after
                content: ""
                position: absolute
                left: 0px
                bottom: 0px
                width: 0
                height: 0
                border-left: 20px solid white
                border-top: 20px solid transparent
                border-bottom: 20px solid transparent

            &:before
                content: ""
                position: absolute
                right: -20px
                bottom: 0px
                width: 0
                height: 0
                border-left: 20px solid $gray-light-5
                border-top: 20px solid transparent
                border-bottom: 20px solid transparent
                border-radius: 0

        .steps-form li.active a
            background: $color-base

            &:before
                border-left: 20px solid $color-base

        .steps-form li.current a
            background: $purple-4

            &:before
                border-left: 20px solid $purple-4

        .steps-form li:first-child a:after
            display: none

    .user-image
        border: 3px solid #ffffff
        box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.1)
        border-radius: 3px
        width: 34%
        img
            width: 100px
    .save-btn
        background: #5d78ff
    .filter
        margin-top: 3rem
        .input-div
            width: 40%
            .form-control
                margin-right: 1rem
    .table-role
        margin-top: 2rem
        table
            tbody
                tr
                    td
                        .form-control
                            width: 100px
.box-center
    .pricing-tab-wrap
        margin-top: 1rem
    .pricing-header
        color: #838588
        font-weight: 400
        margin-bottom: 10px
        text-transform: uppercase
    .pricing-table
        display: flex
        justify-content: center
        .w-pricing-header
            text-align: center
            padding: 2rem
            .pricing-price

                color: #394797
                display: block
                font-size: 32px
                font-weight: 700
        svg
            width: 14px
        .list-group-item
            color: #394797
            font-weight: bold
        .btn-div
            padding: 3rem
            display: flex
            justify-content: center
            .pricing-button
                background-color: #475cd2
                color: #ffffff
                display: inline-block
                text-decoration: none
                transition: all 150ms ease-in-out
                white-space: nowrap
    .addSeller
        float: right
        background: #fdc91e
        border: none
        color: #ffffff
