.header
    background: $white
    box-shadow: 1px 0.196px 11px rgba(130, 131, 131, 0.24)
    z-index: 100
    position: fixed
    width: 100%
    top: 0
    left: 0
    padding: 0 1rem
    .navbar
        justify-content: space-between
        img
            max-width: 165px
        ul
            margin-bottom: 0
            li
                list-style: none
                display: inline-block
                margin-left: 1.3rem
                .fas
                    color: #000
                    font-size: 20px
                    vertical-align: sub
                .flag-img
                    width: 25px
                    border-radius: 50px
                .sub-menu
                    position: absolute
                    top: 85%
                    border: 1px solid #cccccc
                    background: #fff
                    padding: .5rem 0
                    border-radius: 0
                    box-shadow: 8.5px 14.722px 24px rgba(0, 0, 0, 0.14)
                    border: none
                    transition: all 300ms ease-out
                    display: block
                    width: 270px
                    li
                        display: block!important
                        text-transform: uppercase
                        color: #727272
                        font-size: 13px
                        padding: .5rem 1rem
                        svg
                            width: 12px
                            margin-right: .4rem

                        a

                            color: #727272
                            text-transform: uppercase
                            text-decoration: none

        .right-content
            img
                width: 20px
                border-radius: 50px
                height: 20px
            .nav-link
                color: #000000
                text-transform: uppercase
                font-size: 14px
            .btnModalAds
                color: black
                position: relative
                overflow: hidden
                .imge
                    padding: 12px
                    border: 1px solid #54498c
                    border-radius: 50%
                    display: block
                    width: 54px
                    border-right: 0
                .txt-btn
                    border: 1px solid #54498c
                    padding: 5px 12px
                    margin-left: -8px
                    border-left: 0
                    background: #ffffff
                    border-radius: 0 18px 18px 0
.top-section
    padding-top: 10rem
.text-inf
    font-weight: bold
    text-transform: uppercase
    font-size: 12px
    img
        margin-right: .5rem
.sub-menu1
    position: absolute
    top: 85%
    border: 1px solid #cccccc
    background: #fff
    padding: .5rem 0
    border-radius: 0
    box-shadow: 8.5px 14.722px 24px rgba(0, 0, 0, 0.14)
    border: none
    transition: all 300ms ease-out
    display: block
    width: 200px!important
    right: 27%
