.header
    background: $white
    box-shadow: 1px 0.196px 11px rgba(130, 131, 131, 0.24)
    z-index: 100
    position: fixed
    width: 100%
    top: 0
    left: 0
    padding: 0 1rem
    .navbar
        justify-content: space-between
        img
            max-width: 165px
        ul
            margin-bottom: 0
            li
                list-style: none
                display: inline-block
        .right-content
            img
                width: 20px
                border-radius: 50px
                height: 20px
            .nav-link
                color: #000000
                text-transform: uppercase
                font-size: 14px
            .btnModalAds
                color: black
                position: relative
                overflow: hidden
                .imge
                    padding: 12px
                    border: 1px solid #54498c
                    border-radius: 50%
                    display: block
                    width: 54px
                    border-right: 0
                .txt-btn
                    border: 1px solid #54498c
                    padding: 5px 12px
                    margin-left: -8px
                    border-left: 0
                    background: #ffffff
                    border-radius: 0 18px 18px 0
.top-section
    padding-top: 10rem
