.offerdetail
    margin-top: 2rem
    .car-data
        ul
            li
                list-style: none
                display: inline-block
                padding-left: .4rem
                .fas
                    font-size: 20px
        .auction_tag
            .offer-tag
                padding-left: 0
                li
                    list-style: none
                    display: inline-block
                    background: #fdc91e
                    color: #fff
                    border-radius: 18px
                    padding: 8px
                    font-size: 14px
                    margin-right: .3rem
            .time-zone
                border: 1px solid #ccc
                width: 250px
                height: 30px
                p
                    margin-bottom: 0
                    font-size: 14px
                    padding: 4px
        .price
            .btn-vehicle
                background: #fdc91e
                border: 0
                border-radius: 0
        .calender-div
            display: flex
            justify-content: space-between
            align-items: center
            margin-top: 3rem
            svg
                width: 12px
                margin-right: .2rem
            .btn-green
                background-color: #2da745
                border: 0
                font-size: 13px
        .appoin
            margin-top: 4rem
            p
                font-size: 14px
        .car-rating
            border: 1px solid #ccc
            img
                width: 70px
                border-radius: 50px
.vehicle_announcetab
    margin-top: 2rem
    margin-bottom: 2rem
    border-bottom: 1px solid #cccccc
    ul
        padding-left: 0
        margin-bottom: 1rem
        li
            list-style: none
            display: inline-block
            font-size: 16px
            text-transform: uppercase
            margin-right: 2rem
            .active
                border-bottom: 2px solid blue

            svg
                width: 30px
.details
    .brand-status
        display: flex
        justify-content: space-between
        align-items: center
        font-size: 14px
        margin-bottom: 10px
        width: 60%
        label
            color: #838588

.equip
    font-weight: 600
    border-left: 4px solid #5d78ff
    padding: 0 10px
    font-size: 15px
.options
    .card
        box-shadow: 0 0 8px 6px #ddd
        background: #fff
        margin-bottom: 20px
        padding: 15px
        img
            width: 70px
            border-radius: 50px
        .fas
            margin-right: 1rem
            color: #fdc91e
            font-size: 17px
        p
            margin-bottom: 0
            font-weight: bold

.vehicl-review
    .grade-filter
        background-color: #f7f8fa
        .filter-list
            li
                list-style: none
                display: inline-flex
                margin-right: 1rem
                img
                    width: 40px
                    height: 40px
                .fas
                    font-size: 20px
.progres
    display: flex
    justify-content: space-between
    align-items: center
    p
        margin-bottom: 0
    .progress
        width: 35%
        height: 7px
        margin-bottom: 1rem
        .progress-bar
            width: 50%
.rate
    display: flex
    justify-content: space-between
    align-items: center
.notes-div
    img
        width: 40px
        height: 40px
        margin-right: 1rem
        border-radius: 50px
.btn-comment
    background: #fdc91e
    font-size: 14px
    border-radius: 0
    border: 0
    float: right
    margin-top: 1rem
.comment-section
    img
        width: 30px
        height: 30px
        margin-right: 1rem
        p
            margin-bottom: 0
    .message
        padding-left: 0
        li
            list-style: none
            margin-bottom: 2rem
            position: relative
        li:not(:first-child)
            list-style: none
            margin-bottom: 2rem
            position: relative

            &::before
                content: ""
                height: 1px
                width: 74px
                background: #ccc
                position: absolute
                top: -12px

            .media-text
                margin-top: 2rem
.availableListTime
    .btn-link
        border: 1px solid #ccc
        background: #5d78ff
        color: #ffffff
        border-radius: 0
        font-size: 13px
        border: 0
    svg
        color: 