.showcase-nav
    .navbar
        justify-content: space-between
        background: #fff
        box-shadow: 1px 0.196px 11px rgba(130,131,131,.24)
        padding: 5px 25px
        img
            width: 60px
            border-radius: 50px
        .right-links
            margin-bottom: 0
            li
                list-style: none
                display: inline-block
                margin-right: 1.4rem
                a
                    color: rgba(0,0,0,.5)
                    text-transform: uppercase
                    .fa-share-alt
                        color: #0F9E00
                        font-size: 20px
                        vertical-align: middle
.showcase
    .w-search
        border-radius: 8px
        box-shadow: 0 0 8px #929292
        background: #fff
        position: absolute
        bottom: -21%
        left: 6%
        padding: 1rem
        h3
            font-size: 16px
            font-weight: bold
            font-weight: 400
        h6
            font-size: 12px
        .form-control
            width: 25%
        .from-div
            width: 10%
        .btn-search
            background: #fdc949
            border: 0
            width: 100%
            min-width: 237px
            margin-left: 1.4rem
    .block-title
        margin-top: 8rem
        border-bottom: 1px solid #ccc
        h2
            font-size: 16px
            font-weight: bold
    .car-detail
        margin: 0px auto
        width: 700px
        .card
            .card-body
                padding: 1rem
                .price
                    font-size: 22px
                    font-weight: bold
                    margin-bottom: 0
                .card-title
                    font-weight: bold
                    font-size: 16px
            img
                width: 100%
                height: 220px
            .card-footer
                background: #fff
    .banner-content
        position: absolute
        top: 50%
        left: 10%
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        color: #fff
        h2, h3
            text-transform: uppercase
            text-shadow: 0 0 10px rgba(0,0,0,.7), 0 0 8px rgba(0,0,0,.5)
            font-weight: 300
        h2
            font-size: 50px
        .baner-btn
            background: #fdc949
            border-radius: 0
            border: 0

.showcase-footer
    background-color: #eaeaea
    padding: 1rem
    .f-content
        flex-direction: column
        img
            width: 50px
            border-radius: 50px
        .footer-links
            ul
                li
                    list-style: none
                    display: inline-block
                    padding: .5rem
                    font-size: 14px
                    border-right: 1px solid #ccc
        .btn-grps
            ul
                li
                    list-style: none
                    display: inline-block
                    padding: .3rem
                    font-size: 13px
        .font-italic
            font-style: italic
.contact-desc
    margin-top: 2rem
.logo-d

    img
        width: 100px
        margin-left: 2rem
.contact-content
    h2
        font-weight: bold
        font-size: 16px
        margin-top: 2rem
    ul
        li
            list-style: none
            margin-bottom: 2rem
            svg
                width: 40px
                margin-right: 2rem
    .hour-content
        border: 1px solid #ccc
        padding: 3rem
        box-shadow: -0.5rem 0.5rem #fdc949
        .hoursList
            display: flex
            margin-bottom: 1rem

            .day

                font-weight: bold
                width: 20%
            .date
                margin-left: 2rem
.shadow-div
        box-shadow: -0.5rem 0.5rem #fdc949

.subsidry
    margin-top: 5rem
    .tab-data
        margin-bottom: 3rem
        border-bottom: 1px solid #cccccc
        ul
            padding-left: 0
            margin-bottom: 1rem
            li
                list-style: none
                display: inline-block
                font-size: 16px
                text-transform: uppercase
                margin-right: 2rem
            .active
                border-bottom: 2px solid blue

            svg
                width: 30px
    .sub-text
        font-size: 20px
        font-weight: 600
.contact-d
    ul
        li
            list-style: none
            margin-bottom: 2rem
            svg
                width: 30px
                margin-right: 2rem
.depertmnt
    .card
        border-radius: 7px
        img
            width: 60px
            border-radius: 50px
            box-shadow: 0 5px 7px #ddd
            margin-right: 1rem
        p
            margin-bottom: .3rem
    .css-2b097c-container
        width: 300px
    .pagination
        margin-bottom: 4rem
        li
            margin-right: .4rem
            a
                border-radius: 50px
        .page-item:last-child .page-link
            border-radius: 50px!important
        .page-item:first-child .page-link
            border-radius: 50px!important
        .page-item.active .page-link
            border-radius: 50px
            background: #fdc91e
            border: 1px solid #fdc91e
.about
    .aboutImg
        img
            width: 100%
    h2
        font-size: 34px
        font-weight: 600
        margin-bottom: 20px
        color: #243966
        span
            color: #5d78ff
    p
        font-size: 16px
    .about-service
        margin-top: 4rem
        h4
            font-size: 28px
            font-weight: bold
            margin-bottom: 2rem
        .card
            box-shadow: 0 8px 12px rgba(0,0,0,.14)
            .card-body
                .car-image
                    display: flex
                    justify-content: center
                    align-items: center
                    .fa-car
                        font-size: 70px
                .card-title
                    color: #6c54e3
                    text-transform: uppercase
                    font-weight: 600
                    margin-top: 2rem
                .card-text
                    color: #979797
                    font-size: 14px
.comments
    h4
        margin-top: 3rem
        font-size: 20px
        border-bottom: 1px solid #ccc
    .star
        flex-direction: column
        .value
            font-size: 28px
            font-weight: bold
        .fa-star
            color: #ff912c
            font-size: 18px
    .progress
        width: 350px
        height: 8px
    .progress-bar
        background: #ff912c
    .comment-section
        img
            width: 30px
            height: 30px
            margin-right: 1rem
        p
            margin-bottom: 0
    .message
        padding-left: 0
        li
            list-style: none
            margin-bottom: 2rem
            position: relative
        li:not(:first-child)
            list-style: none
            margin-bottom: 2rem
            position: relative

            &::before
                content: ""
                height: 1px
                width: 74px
                background: #ccc
                position: absolute
                top: -12px

            .media-text
                margin-top: 2rem
